{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block content %}   
    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>

    {% if page.body %}
        {{ page.body|richtext }}
    {% endif %}

    <hr>
    <hr>
    <hr>
    <hr>

<!-- Image renditions -->
    {% image page.image fill-150x150 format-jpeg %}
    {% image page.image width-400 %}
    {% image page.image width-400 format-avif-lossless %}
    {% image page.image width-400 format-webp-lossless %}

    {% image page.image fill-90x200 as custom_img %}
    {{ custom_img.url }}

    <h3>Dynamic Image URL served below</h3>
    {% image_url page.image "fill-150x150|jpegquality-100" as custom_img2 %}
    {{ custom_img2 }}
    <img src="{{ custom_img2 }}" alt="Dynamic Image URL">

<!-- Document download link -->
    {% if page.custom_document %}
    <a href="{{ page.custom_document.url }}" download>{{ page.custom_document.title }}</a>
    {% endif %}


{% endblock content %}
